node_modules
_doc
.sass-cache
doc
dist
src/asset/img
config.rb
*.zip
*.psd
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.sublime-project
*.sublime-workspace
*.sln
*.settings
*.cfg
thumbs.db
!.gitkeep
.DS_Store
npm-debug.log
npm-debug.log.*

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/