<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>dotnet Vue SSR Example</title>
</head>
<body>
  <div id="root" asp-prerender-module="ClientApp/renderOnServer" asp-prerender-data='new {UserName="milkmidi"}'></div>
  <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>

</html>
